In [1]:
import pandas as pd

df = pd.read_csv("medical_examination.csv")

In [2]:
df.head(3)

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1.0,0.0,0.0,1.0,0.0
1,1,20228,1,156,85.0,140,90,3,1.0,0.0,0.0,1.0,1.0
2,2,18857,1,165,64.0,130,70,3,1.0,0.0,0.0,0.0,1.0

In [3]:
df.size

892125